@media (max-width:690px) {
  .info {
    padding-left: 0;
  }



  .styled-table {
    margin: 5px 0;
    font-size: 12px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }

  .styled-table th,
  .styled-table td {
    padding: 8px 10px;
  }

}